<!DOCTYPE html>
<html>
    <head>
        <title>College Gallery</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      
        
    <nav class="navbar navbar-light" style="background-color: #DAF7A6;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-heart fa-sm"></i> Purva Collections</a>
            
        </div>
        <div class="collapse navbar-collapse">
                 <span class="navbar-text" style="color:#2980B9;">
                Smiles Are Always in Fashion!
                </span>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Contact</a></li>
                <li><a href="/">Detail</a></li>
            </ul>
        </div>
    </div>
</nav>
    </head>
    <body>
 