<% include partials/header %>
<div class="container">
    <div class="card text-center">
        <div class="card-body">
         <h2>Fashion is Life!</h2>
         <h2>T-Shirt For Boys</h2>
         </div>
    </div>
</div>

<div class="container">    
    <div class="row">
          <div class="col-md-3 mb-2">
             <div class="card">
                 
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/mustard-yellow-full-sleeve-t-shirt-men-s-plain-full-sleeve-t-shirts-196425-1538024898.jpg" alt=""/>
                 
                <h5 class="card-title">Starting at Rs. 199</h5>
                <p class="card-text">Boys Plain T-Shirt</p>
            </div>
        </div>
          <div class="col-md-3 mb-2">
             <div class="card">
                 
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/high-on-life-typography-half-sleeve-t-shirt-men-s-printed-t-shirts-183675-1528700778.jpg" alt=""/>
                 
                <h5 class="card-title">Starting at Rs. 199</h5>
                <p class="card-text" >Boys Singham T-Shirt</p>
            </div>
        </div>
         <div class="col-md-3 mb-2">
             <div class="card">
                 
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/burgundy-half-sleeve-t-shirt-men-s-plain-t-shirts-192189-1535708451.jpg" alt=""/>
                 
                <h5 class="card-title">Starting at Rs. 199</h5>
                <p class="card-text" >Boys Singham T-Shirt</p>
            </div>
        </div>
         <div class="col-md-3 mb-2">
             <div class="card">
                 
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/burgundy-half-sleeve-t-shirt-men-s-plain-t-shirts-192189-1535708451.jpg" alt=""/>
                 
                <h5 class="card-title">Starting at Rs. 199</h5>
                <p class="card-text" >Boys Singham T-Shirt</p>
            </div>
        </div>
    <div>
</div>
<% include partials/footer %>