
<% include partials/header %>

<div class="container">
    <header class="jumbotron" style="background-color:#EBF5FB;" style="font: white;">
        <div class="container">
            <h1 style="color:orange;">Hello, Friends!</h1>
            <h2 style ="color:orange;">Lucky Draw For Your College </h2>
            <h5 style="color:orange">Will Be Declared On : 09-Nov-2018 at 2PM </h5>
            <h3 style="color:#808B96;">Thakur College Of Science & Commerce </h3>
            
             <p>
                <a class="btn btn-primary btn-large" href="/colleges/register">Register For Lucky Draw</a>
            </p>
        </div>
        
        </header>
</div>

<% include partials/footer %>