<% include partials/header %>
<style>
   #header{
        background: #a6b5fc;
        color: white;
        }
    .lucky-draw-text{
            padding: 20px;
            background:#e6ddde;
            color:white;
            font-family: Aclonica;  
            }
    .jumbotron img{
        width:250px;
        height:350px;
        }
 
        .card{
        margin: 10px 10px;
            }
        .card-body{
            background: #a6b5fc;
                    }
   
                    
body{
    background:	#e6ddde;
}

a.shop-item,
a.shop-item:hover {
  color: inherit;
}
</style>

                <div class="lucky-draw-text">
                    <h2 class="text-center text-uppercase mb-0 ">Lucky Draw Will Be Declared On - 4th Dec 2018</h2>
                </div>

<section id="header" class="jumbotron">
   
            <div class="row">
            
                
                  <div class="col-md-6">
                        <h1 class="display-3"> Hello, Friends!</h1> 
                        <h2 class="display-6">Lucky Draw For Your College</h2>
                        <h2 class="display 6"><strong></strong> Win T-Shirts of Rs.499 (Just Pay Rs. 10)</strong></h2>
                        <p></p>
                        <p></p>
                        <h3 class="display-6">Thakur College Of Science & Commerce</h3>
                     
                        <a class="btn btn-primary btn-large" href="/colleges/register">Register For Lucky Draw</a>
                </div>                              
           
               <div class="col-md-3">
                   <img class="lucky-draw-img" src="https://images.bewakoof.com/t540/naughty-panda-half-sleeve-t-shirt-men-s-printed-t-shirts-200319-1540812115.jpg" />
                </div>
           
                  <div class="col-md-3">
                   <img class="lucky-draw-img" src="https://images.bewakoof.com/t540/dream-killer-half-sleeve-t-shirt-men-s-printed-t-shirts-201847-1542705703.jpg" />
                </div>  
            </div>
        
</section>

    
 <div class="container">
    <div class="card text-center">
        <div class="card-body">
         <h2 class="text-center text-uppercase text-white">Fashion is Life!</h2>
         <h2 class="text-center text-uppercase text-white mb-0">T-Shirt For Girls</h2>
        <a href="/colleges/girls" class="btn btn-primary">Shop Now!</a>
        </div>
    </div>
</div>
<div class="container">    
    <div class="row">
        
         <div class="col-md-4 mb-2">
                  
                       
                     <div class="card">
                         
                        <a class="shop-item" href="/colleges/girls">
                         <img class="card-img-top" src="https://images.bewakoof.com/t540/ocean-blue-boyfriend-t-shirt-women-s-plain-boyfriend-t-shirts-183023-1527664512.jpg" alt=""/>
                        </a>
                       <h5 class="card-title">Girls Plain T-Shirt</h5>
                       <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
                       
                       
                    </div>
                    
                    
        </div>
    
         <div class="col-md-4 mb-2">
                
                <div class="card">
                <a class="shop-item" href="/colleges/girls">
                <img class ="card-img-top"  src="https://images.bewakoof.com/t320/attitude-dekh-basic-round-hem-t-shirt-women-s-printed-basic-round-hem-t-shirt-200475-1540980124.jpg" alt=""/>
                </a>
                <h5 class="card-title">Girls Boyfriend T-Shirt</h5>
                <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
                </div>
              
        </div>
        
         <div class="col-md-4 mb-2">
                
                <div class="card">
                    <a class="shop-item" href="/colleges/girls">
                <img class ="card-img-top"  src="https://res.cloudinary.com/arde/image/upload/v1543157981/dark-olive-round-neck-3-4th-sleeve-t-shirt-women-s-plain-round-neck-3-4-sleeve-t-shirts-199889-1540972311.jpg" alt=""/>
                </a>
                <h5 class="card-title">Girls Boyfriend T-Shirt</h5>
                <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
                </div>
              
        </div>
    </div>
</div>






    

<div class="container">
    <div class="card text-center">
        <div class="card-body">
         <h2 class="text-center text-uppercase text-white">Fashion is Life!</h2>
         <h2 class="text-center text-uppercase text-white mb-0">T-Shirt For Boys</h2>
         <a href="/colleges/boys" class="btn btn-primary">Shop Now!</a>
        </div>
    </div>
</div>
<div class="container">    
    <div class="row">
          <div class="col-md-4 mb-2">
             <div class="card">
                 <a class="shop-item" href="/colleges/boys">
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/mustard-yellow-full-sleeve-t-shirt-men-s-plain-full-sleeve-t-shirts-196425-1538024898.jpg" alt=""/>
                 </a>
                <h5 class="card-title">Boys Plain T-Shirt</h5>
                <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
            </div>
        </div>
          <div class="col-md-4 mb-2">
             <div class="card">
                 <a class="shop-item" href="/colleges/boys">
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/high-on-life-typography-half-sleeve-t-shirt-men-s-printed-t-shirts-183675-1528700778.jpg" alt=""/>
                 </a>
                <h5 class="card-title">Boys Singham T-Shirt</h5>
                <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
            </div>
        </div>
         <div class="col-md-4 mb-2">
             <div class="card">
                 <a class="shop-item" href="/colleges/boys">
                 <img class="card-img-top" src="https://images.bewakoof.com/t540/burgundy-half-sleeve-t-shirt-men-s-plain-t-shirts-192189-1535708451.jpg" alt=""/>
                 </a>
                <h5 class="card-title">Boys Singham T-Shirt</h5>
                <p class="card-text">Starting at <i class="fas fa-rupee-sign"></i> 199</p>
            </div>
        </div>
    <div>
</div>
     
<% include partials/footer %>