<% include partials/header %>
<style>
.jumbotron{
    background: #e6ddde;
    color:white;
}
    
 </style>

<div class="jumbotron">
  <h1 class="display-4">Hi Friends!</h1>
  <p class="lead">Fashion Is Life</p>
  <p class="lead">I Love Fashion</p>
  <hr class="my-4">
         <h1 class="display-6">Address</h2>
            <p class="address">AV Fashion, Siddhivinayak Annex</p>
            <p class="address">Chogle Nagar, Borivali</p>
            <p class="address">Mumbai - 400066</p>
   <hr class="my-4">
   <p class="contact">You can reach us at avfashion@gmail.com with all queries. Our Customer Care Number: +91 9702735654</p>
        
  </div>
