<% include partials/header %>

    
 <div class="container">
    <div class="card text-center">
        <div class="card-body">
      <h2>Fashion is Life!</h2>
         <h2>T-Shirt For Girls</h2>
      
        </div>
    </div>
</div>
<div class="container">    
    <div class="row">
        
         <div class="col-md-3 mb-2">
                  
                     <div class="card">
                         
                         
                         <img class="card-img-top" src="https://images.bewakoof.com/t540/ocean-blue-boyfriend-t-shirt-women-s-plain-boyfriend-t-shirts-183023-1527664512.jpg" alt=""/>
                         
                        <h5 class="card-title">Girls Plain T-Shirt</h5>
                        <p class="card-text">Starting at Rs 199</p>
                    </div>
                    
        </div>
    
         <div class="col-md-3 mb-2">
                
                <div class="card">
                
                <img class ="card-img-top"  src="https://images.bewakoof.com/t320/attitude-dekh-basic-round-hem-t-shirt-women-s-printed-basic-round-hem-t-shirt-200475-1540980124.jpg" alt=""/>
                
                <h5 class="card-title">Girls Boyfriend T-Shirt</h5>
                <p class="card-text">Starting at Rs. 199</p>
                </div>
              
        </div>
        
         <div class="col-md-3 mb-2">
                
                <div class="card">
                
                <img class ="card-img-top"  src="https://images.bewakoof.com/t320/gradient-girl-power-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-201629-1542452105.jpg" alt=""/>
                
                <h5 class="card-title">Girls Boyfriend T-Shirt</h5>
                <p class="card-text">Starting at Rs. 199</p>
                </div>
              
        </div>
        
        <div class="col-md-3 mb-2">
                
                <div class="card">
                
                <img class ="card-img-top"  src="https://images.bewakoof.com/t320/gradient-girl-power-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-201629-1542452105.jpg" alt=""/>
                
                <h5 class="card-title">Girls Boyfriend T-Shirt</h5>
                <p class="card-text">Starting at Rs. 199</p>
                </div>
              
        </div>
    </div>
</div>

     
<% include partials/footer %>




