
<% include partials/header %>




<div class="container" style="width: 40%;  margin-top: 50px;">
    <h5>New User Sign Up Form</h5>
    
    <form action="/join-us" method="post">

    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" name="firstname" placeholder="FirstName" required>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" name="lastname" placeholder="LastName" required>  
                </div>
            </div>

            <div class="form-group">  
                 <input class="form-control" type="email" name="username" placeholder="Email Id" required>
            </div>
            
            <div class="form-group">  
                 <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            
            <div class="form-group">
                    <select class="form-control" name="college" type="text">
                        
                        
                        <% listcolleges.forEach(function(listcolleges){ %>
                    
                             <option><%= listcolleges.name %></option>
                                    
                   
                        <% }); %>
                        </select>
                    
            </div>
            <div class="form-group">
                    <select class="form-control" name="gender" type="text">
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    </select>
            </div>
                
            <div class="form-group">  
                    <input class="form-control" type="number" name="mobile" placeholder="Mobile" required>
            </div> 
                
            
           <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Join Us</button>
            </div>
            
    </form>
</div>
